<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ImplicitObject-App</display-name>

<servlet>
	<servlet-name>Hello</servlet-name>
	<jsp-file>/welcome.jsp</jsp-file>
	
	<!-- <init-param>
		<param-name>username</param-name>
		<param-value>Kumar</param-value>
	</init-param> -->
	
</servlet>

<servlet-mapping>
	<servlet-name>Hello</servlet-name>
	<url-pattern>/welcome</url-pattern>
</servlet-mapping>

<context-param>
	<param-name>username1</param-name>
	<param-value>Riya</param-value>
</context-param>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>